<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue todos</title>
    <style>
        .done {
            color: gray;
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="app">

        <h1>{{title}}</h1>
        <input type="text" v-model="title" @keydown.enter="addTodo">
        <ul>
            <li v-for="(todo, index) in todos" :key="index">
                 <!-- 只有todo.done为true时,span的class才会是done -->
                <span v-bind:class="{done:todo.done}">{{todo.title}}</span>
            </li>
        </ul>
    </div>
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.min.js"></script>
    <script type="module">
        const App = {
            data(){
                return {
                    title: '',
                    todos: [
                        {title:'Learn Vue' , done:true},
                        {title:'Learn React' , done:false}
                       
                    ]
                  }
                },
                methods:{
                    addTodo(){
                        // this.data.todos  
                        this.todos.push({
                            title: this.title,
                            done: false
                        })
                        this.title = ''
                    }
                }
            }

        Vue.createApp(App).mount('#app')
    </script>


</body>
</html>